body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 25px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: aqua;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 3;
}

aside {
    flex: 1;
    background-color: aquamarine;
    padding: 10px;
    box-shadow: 2px 0 5px chartreuse;
    max-width: 300px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: bisque;
    bottom: 0;
}

.content {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid;
}

img {
    max-width: 100%;
    height: auto;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"]{
    padding: 10px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
}

#contact {
    margin-top: 30px;
}

#sidebar > nav {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 8px;
}

#sidebar > nav ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar > nav a {
    color: aqua;
    font-weight: bold;
}

#sidebar > nav a:hover{
    color: brown;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;

}

/* Computer view */
@media screen and (max-width: 1200px) {
    .content {
        padding: 15px;
        margin: 10px;
    }

    aside {
        order: -1;
        position: relative;
        top: auto;
    }
}

/* Tablet view */
@media screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }
    .content {
        padding: 10px;
        margin: 8px;
    }
    aside {
        order: 1;
        margin: 10px;
    }
}

/* Mobile view */
@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    header {
        font-size: 15px;
    }

    .content {
        padding: 10px;
        margin: 4px;
    }

    nav {
        text-align: center;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        margin-bottom: 10px;
    }

    input, textarea {
        width: 100%;
    }
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    flex: 1;
}

#button-block {
    display: flex;
}

button:hover {
    background-color: aqua;
    color: black;
}

/* Play with the buttons*/
@media screen and (max-width: 700px) {
    #button-block {
        flex-direction: column;
    }
}
